*{
margin: 0;padding: 0;
font-family: 'Montserrat', sans-serif;
}
:root {
    --theme-color-purple: #6C63FF;
    --white: #ffffff;
  }

header{
    background-color:var(--theme-color-purple);
    border-bottom-left-radius: 1rem;
}
.Image-main{
  height: 18rem;
  margin: 1rem;
}
.Image-div{
  text-align: center;
}
.colour-Webdev{
  color: var(--theme-color-purple);
}
.Image-div h1{
color:darkslategrey;
}
.container-outer{
  text-align: center;
  margin: 1rem;
}

.button{
  margin-top: 1rem;
  background-color: var(--theme-color-purple);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 8rem;
}
footer{
  background-color: var(--theme-color-purple);
  height: 5rem;
  border-top-right-radius:1rem ;
  text-align: center;

}
.link{
  margin-left: 20px;
  text-decoration: none;

}
